.Register-2
{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin-top: 100px;
}
.login-form 
{
    display: flex;
    flex-direction: column;
    background-image: url(../../images/form-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    border-radius: 8px;
    align-items: center;
}
.input-2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-2 input{
    
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 350px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: azure;
    border-radius: 8px;
}
.input-2 button{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(195, 192, 192);
    background-color: rgb(158, 154, 154);
    border-radius: 8px;
    font-weight: 700;
}
.login-form h1{
margin-top: 40px;
}
.login-form p
{
color: aliceblue;
margin-top: 30px;
}
.link-2
{
    text-decoration: none;
    font-size: 18px;
    color: rgb(31, 212, 22);
}