.Register
{
    background-color: lightgray;
    display: flex;
   justify-content: center;
   width: 500px;
}
.create-form
{
display: flex;
flex-direction: column;
align-items: center;
}
.input-1
{
    display: flex;
    flex-direction: column;
}