.icon-text .para {
    font-size: 1rem; /* Base font size */
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.5rem; /* Default size for larger screens */
}

.heading p {
    margin-top: 20px;
    width: 100%; /* Full width on smaller screens */
    max-width: 650px; /* Maximum width for larger screens */
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) { /* For tablets */
    .heading h1 {
        font-size: 2rem; /* Smaller font size */
    }
    .heading p {
        font-size: 0.875rem; /* Adjust paragraph font size */
        padding: 0 20px; /* Add some padding on the sides */
    }
}

@media (max-width: 480px) { /* For mobile phones */
    .heading h1 {
        font-size: 1.5rem; /* Even smaller font size */
        margin-top: 20px; /* Reduce margin */
    }
    .heading p {
        font-size: 0.8rem; /* Smaller paragraph font size */
        padding: 0 10px; /* Less padding on mobile */
    }
}
