.image
{
     background-image: url(../../images/bg.jpg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.search-bar{
    display: flex;
    flex-direction: column;
    padding-top: 190px;
    padding-bottom: 160px;
    margin-left: 550px;
  }
  .search-bar h1{
    padding-bottom: 15px;
    font-family: Arial;
  }
  .search-bar input{
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  }
  @media only screen and (max-width:600px)
  {
    .search-bar
    {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      margin-right: 50px;
      padding-top: 65px;
    }
  }